* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*GENERAL STYLINGS*/
body {
  font-family: verdana;
  color: #1c1c1c;
}

.main-header {
  text-align: center;
  background-color: #f7cd7a;
  padding: 450px 250px;
  /* padding: 50px 250px; */
}

nav a:link {
  font-size: 20px;
  padding: 10px;
  line-height: 2;
  display: inline-block;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

p {
  line-height: 1.5;
  text-align: justify;
}

li {
  font-size: 18px;
  margin-left: 30px;
}

/*ABOUT ME STYLINGS*/
#about-me-div {
  display: flex;
  flex-direction: column;
  margin: 150px 400px;
}

.about-me-text {
  display: flex;
  gap: 100px;
  margin: 50px 0;
}

.about-me-contents {
  flex: 1;
  line-height: 2;
  align-self: center;
}

.about-me-img {
  flex: 0 1 auto;
  width: 40%;
  height: auto;
  align-self: center;
}

/*SKILLS SPECIFIC STYLINGS*/
ul,
.hard-skills-div,
.other-skills-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  /*CHANGE TO CSS GRID HERE*/
}

.hard-skills-div {
  align-self: flex-start;
}

ul {
  gap: 15px;
}

/*OTHER STYLINGS*/
#careers-div,
#education-div,
#skills-div,
#projects-div,
#certificates-div,
#contact-me-div {
  display: flex;
  flex-direction: column;
  margin: 150px 200px;
}

.experience-div,
.school-graduated-div,
.overall-skills-div,
.cert-finished-div,
.contact-separation {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 50px 0;
}

.company {
  width: 400px;
}

.dates {
  flex: 0 1 auto;
  align-self: flex-start;
}

.job,
.dlsu,
.hard-skills-div,
.other-skills-div,
.certificate-received {
  flex: 1;
}

.location,
.instructor,
.projects {
  margin-bottom: 20px;
}

.other-skills-div {
  align-self: flex-start;
}

/*PROJECT STYLINGS*/
.project-separation {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-texts {
  margin-bottom: 40px;
}

.java-games {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 100px;
}

.proj-img,
.java-img {
  width: 80%;
  height: auto;
  align-self: center;
}

.java-img {
  width: 30%;
}

.return {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

/*CONTACT ME STYLINGS*/
#contact-me-div {
  margin: 400px 200px;
  justify-content: center;
}

.contact-separation {
  justify-content: center;
  margin-top: 100px;
}

.contact-me-text {
  font-size: 25px;
  font-weight: bold;
}

.mode-details {
  font-size: 20px;
  margin-bottom: 20px;
}

.last {
  margin-bottom: 0;
}

/*ASIDE AND FOOTER STYLINGS*/
aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}

#copyright {
  text-align: center;
  margin-bottom: 20px;
}

/*HYPERLINK STYLINGS*/
nav a:link {
  color: #1c1c1c;
  text-decoration: none;
}
a:link {
  color: #1c1c1c;
  text-decoration: underline;
}

a:visited {
  color: #1c1c1c;
}

a:hover {
  color: #1c1c1c;
  background-color: #f7cd7a;
}

a:active {
  background-color: #f7cd7a;
}

/*
SMALLER SCREEN OPTIMIZATIONS

**SMART PHONE SCREEN VIEWPORT SIZES**
*iPhone SE Screen Size*
375px x 667px

*iPhone XR to iPhone 14 Pro Max Screen Size*
414px x 896px
to 
430px x 932px

*Samsung Galaxy S20 to Samsung Galaxy S22 Screen Size*
360px x 800px
to
384px x 824px



**TABLET SCREEN VIEWPORT SIZES**
iPad Mini 6
744px x 1133px

iPad 9th Gen
810px x 1080px

iPad Air 5
820px x 1180px

iPad Pro 11 Inch
834px x 1194px

iPad Pro 12.9 Inch
1024px x 1366px
*/

/*MOBILE PORTRAIT ORIENTATION*/
@media (max-width: 743px) and (orientation: portrait) {
  .main-header {
    padding: 375px 0;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #careers-div,
  #education-div,
  #skills-div,
  #projects-div,
  #certificates-div,
  #contact-me-div {
    margin: 150px 50px;
  }

  .about-me-text,
  .overall-skills-div,
  .experience-div,
  .school-graduated-div,
  .cert-finished-div {
    flex-direction: column;
  }

  .experience-div,
  .school-graduated-div,
  .cert-finished-div {
    gap: 20px;
  }

  .job,
  .dlsu,
  .certificate-received {
    width: 300px;
  }

  .dates {
    flex: 1;
    margin-bottom: 20px;
  }

  .company {
    width: 300px;
    align-self: flex-start;
  }

  /*PROJECT STYLINGS*/
  .about-me-img {
    width: 80%;
    height: auto;
  }

  .proj-img,
  .java-img {
    width: 100%;
    height: auto;
  }

  .java-games {
    flex-direction: column;
  }

  /*CONTACT ME STYLINGS*/
  .contact-separation {
    gap: 15px;
  }

  .mode-details {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .m-d {
    margin-bottom: 28px;
  }

  .first {
    margin-bottom: 12px;
  }

  .last {
    margin-bottom: 0;
  }
}

/*MOBILE LANDSCAPE ORIENTATION*/
@media (max-width: 932px) and (orientation: landscape) {
  .main-header {
    padding: 100px 50px;
    /* padding: 20px 20px; */
  }

  /*ABOUT ME STYLINGS*/
  .about-me-text {
    flex-direction: column;
  }

  .about-me-img {
    width: 80%;
    height: auto;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #skills-div,
  #careers-div,
  #education-div,
  #projects-div,
  #certificates-div,
  #contact-me-div {
    margin: 100px 100px;
  }

  .experience-div,
  .school-graduated-div,
  .overall-skills-div,
  .cert-finished-div,
  .contact-separation {
    gap: 15px;
  }

  .company {
    width: 200px;
    align-self: flex-start;
  }

  .dates {
    flex: 0 1 auto;
  }

  /*PROJECT STYLINGS*/
  .proj-img {
    width: 80%;
    height: auto;
  }

  .java-img {
    width: 30%;
    height: auto;
  }

  .java-games {
    gap: 30px;
  }

  /*CONTACT ME STYLINGS*/
  .mode-details {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .m-d {
    margin-bottom: 28px;
  }

  .first {
    margin-bottom: 12px;
  }

  .last {
    margin-bottom: 0;
  }
}

/*TABLET PORTRAIT ORIENTATION*/
@media (max-width: 1440px) and (orientation: portrait) {
  .main-header {
    padding: 550px 50px;
    /* padding: 20px 20px; */
  }

  /*ABOUT ME STYLINGS*/
  .about-me-text {
    flex-direction: column;
  }

  .about-me-img {
    width: 50%;
    height: auto;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #careers-div,
  #education-div,
  #skills-div,
  #projects-div,
  #certificates-div,
  #contact-me-div {
    margin: 150px 50px;
  }

  .company {
    align-self: flex-start;
    width: 200px;
  }

  .java-games {
    flex-direction: column;
  }
}

/*TABLET LANDSCAPE ORIENTATION*/
@media (max-width: 1440px) and (orientation: landscape) {
  .main-header {
    padding: 375px 0;
    /* padding: 20px 20px; */
  }

  /*ABOUT ME STYLINGS*/
  .about-me-text {
    flex-direction: column;
  }

  .about-me-img {
    width: 50%;
    height: auto;
  }

  #about-me-div,
  #careers-div,
  #education-div,
  #skills-div,
  #projects-div,
  #certificates-div,
  #contact-me-div {
    margin: 150px 50px;
  }

  .company {
    align-self: flex-start;
  }

  .java-games {
    flex-direction: column;
  }
}

/*
NOTES:

ADD BIGGER GAP IN MOBILE LANDSCAPE MODE
FIX MARGINS IN CONTACT ME PAGE IN MOBILE LANDSCAPE MODE

*/
