/*
WEBSITE COLORS

Text Colors: #146C94
Header Colors: #19A7CE
Misc. Colors: #AFD3E2
Background Color: #F6F1F1
Accent Colors: #EFB23C
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*GENERAL STYLINGS*/
body {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 1.2px;
  color: #146c94;
  background-color: #f6f1f1;
  margin: 20px 100px;
}

nav a:link {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  color: #19a7ce;
}

h3 {
  font-size: 2rem;
  color: #146c94;
}

h4 {
  font-size: 1.75rem;
  color: #146c94;
}

p {
  font-size: 1.375rem;
  line-height: 1.5;
}

li {
  font-size: 1.375rem;
  margin-left: 20px;
}

/*HEADER STYLINGS*/
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-access-links {
  display: flex;
  gap: 40px;
}

/*MAIN PAGE STYLINGS*/
#main-page-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.greetings {
  font-size: 3.5rem;
  color: #146c94;
  font-family: "PT Serif", serif;
}

.main-page-img {
  width: 40%;
  height: auto;
}

/*OTHER STYLINGS*/
#skills-div,
#careers-div,
#education-div,
#certificates-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 100px 0;
}

.about-me,
.skills,
.careers,
.education,
.certificates {
  grid-column: span 2;
}

/*ABOUT ME SPECIFIC STYLINGS*/
#about-me-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin: 100px 0;
}

.about-me-text-div {
  display: flex;
  align-items: center;
}
.about-me-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-img {
  width: 60%;
  height: auto;
}

/*SKILLS SPECIFIC STYLINGS*/
#skills-div {
  grid-template-rows: repeat(3, auto);
}

.tools-div {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.soft-skills-div {
  grid-column: 2 / 3;
}

/*PROJECT SPECIFIC STYLINGS*/
.project-texts {
  margin: 50px 0;
}

.project-separation-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.proj-img,
.java-img {
  width: 100%;
  height: auto;
  align-self: center;
}

.java-games-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 40px 0;
}

/*CONTACT ME STYLINGS*/
.contact-me-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 200px;
}

.contact-separation-div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 50px;
  margin: 100px 0;
}

.m-d {
  font-weight: bold;
  justify-self: flex-end;
}

/*ASIDE AND FOOTER STYLINGS*/
.return,
.original-site-link {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}

#copyright {
  text-align: center;
  margin-bottom: 20px;
}

/*HYPERLINK STYLINGS*/
nav a:link {
  color: #146c94;
  text-decoration: none;
}

a:link {
  color: #146c94;
  text-decoration: underline;
}

nav a:visited {
  color: #146c94;
}

a:visited {
  color: #efb23c;
}

nav a:hover,
a:hover {
  color: white;
  background-color: #146c94;
}

a:active {
  background-color: #efb23c;
}

/*
SMALLER SCREEN OPTIMIZATIONS

**SMART PHONE SCREEN VIEWPORT SIZES**
*iPhone SE Screen Size*
375px x 667px

*iPhone XR to iPhone 14 Pro Max Screen Size*
414px x 896px
to 
430px x 932px

*Samsung Galaxy S20 to Samsung Galaxy S22 Screen Size*
360px x 800px
to
384px x 824px



**TABLET SCREEN VIEWPORT SIZES**
iPad Mini 6
744px x 1133px

iPad 9th Gen
810px x 1080px

iPad Air 5
820px x 1180px

iPad Pro 11 Inch
834px x 1194px

iPad Pro 12.9 Inch
1024px x 1366px
*/

/*MOBILE PORTRAIT ORIENTATION*/
@media (min-width: 390px) and (max-width: 480px) and (orientation: portrait) {
  body {
    margin: 20px 50px;
  }

  h1 {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
    text-align: justify;
  }

  /*HEADER STYLINGS*/
  .main-header {
    flex-direction: column;
    text-align: center;
  }

  .easy-access-links {
    display: none;
  }

  /*MAIN PAGE STYLINGS*/
  #main-page-div {
    flex-direction: column;
    margin: 120px 0;
  }

  .greetings {
    margin-bottom: 40px;
  }

  .main-page-img {
    width: 100%;
    height: auto;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #skills-div,
  #careers-div,
  #education-div,
  #certificates-div,
  .contact-separation-div {
    display: flex;
    flex-direction: column;
  }

  /*ABOUT ME SPECIFIC STYLINGS*/
  .about-me-img {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }

  /*PROJECTS SPECIFIC STYLINGS*/
  .java-games-div {
    display: flex;
    flex-direction: column;
  }

  /*CONTACT ME SPECIFIC STYLINGS*/
  .contact-separation-div {
    margin: 50px 0;
  }

  .contact-me-text {
    font-size: 2rem;
    text-align: left;
  }
}

/*SMALLER DEVICE OPTIMIZATIONS*/
@media (max-width: 389px) and (orientation: portrait) {
  body {
    margin: 20px 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    text-align: justify;
  }

  li {
    font-size: 1.25rem;
  }

  /*HEADER STYLINGS*/
  .main-header {
    flex-direction: column;
    text-align: center;
  }

  .easy-access-links {
    display: none;
  }

  /*MAIN PAGE STYLINGS*/
  #main-page-div {
    flex-direction: column;
    margin: 80px 0;
  }

  .greetings {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .main-page-img {
    width: 100%;
    height: auto;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #skills-div,
  #careers-div,
  #education-div,
  #certificates-div,
  .contact-separation-div {
    display: flex;
    flex-direction: column;
  }

  /*ABOUT ME SPECIFIC STYLINGS*/
  .about-me-img {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }

  /*PROJECTS SPECIFIC STYLINGS*/
  .java-games-div {
    display: flex;
    flex-direction: column;
  }

  /*CONTACT ME SPECIFIC STYLINGS*/
  .contact-separation-div {
    margin: 50px 0;
  }

  .contact-me-text {
    font-size: 1.75rem;
    text-align: left;
  }
}

/*MOBILE LANDSCAPE ORIENTATION*/
@media (min-width: 768px) and (max-width: 932px) and (orientation: landscape) {
  body {
    margin: 20px 50px;
  }

  nav a:link {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
    text-align: justify;
  }

  #main-page-div {
    margin: 20px 0;
  }

  .easy-access-links {
    gap: 10px;
  }

  .contact-me-text {
    font-size: 2rem;
  }
}

/*SMALLER DEVICE OPTIMIZATIONS*/
@media (max-width: 767px) and (orientation: landscape) {
  body {
    margin: 20px 20px;
  }

  nav a:link {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
    text-align: justify;
  }

  li {
    font-size: 1.25rem;
  }

  #main-page-div {
    margin: 20px 0;
  }

  .easy-access-links {
    gap: 10px;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #careers-div,
  #education-div,
  #certificates-div,
  .contact-separation-div {
    display: flex;
    flex-direction: column;
  }

  .contact-me-text {
    font-size: 1.75rem;
  }
}

/*TABLET PORTRAIT ORIENTATION*/
@media (min-width: 481px) and (max-width: 1080px) and (orientation: portrait) {
  body {
    margin: 20px 50px;
  }

  h1 {
    font-size: 1.5rem;
  }

  nav a:link {
    font-size: 1.25rem;
  }

  p {
    text-align: justify;
  }

  /*MAIN PAGE STYLINGS*/
  #main-page-div {
    flex-direction: column;
    margin: 160px 0;
  }

  .easy-access-links {
    gap: 10px;
  }

  .greetings {
    font-size: 4.5rem;
    margin-bottom: 60px;
  }

  .main-page-img {
    width: 80%;
    height: auto;
  }

  /*OTHER STYLINGS*/
  #about-me-div,
  #careers-div,
  #education-div,
  #certificates-div,
  .contact-separation-div {
    display: flex;
    flex-direction: column;
  }
}

/*TABLET LANDSCAPE ORIENTATION*/
@media (max-width: 1024px) and (orientation: landscape) {
  .easy-access-links {
    gap: 20px;
  }
}
